
 /* Styles for responsiveness */
.people {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.search-container {
  position: relative;
  margin-bottom: 20px;
}

.search {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}

.suggestions {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  top: 100%; /* Position below the search bar */
  left: 0;
}
.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 50%;
}

.name-box {
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  /* width: 50%; */
}

.dropdown-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dropdown-indicator {
  font-size: 12px;
}

.dropdown-content {
  padding: 10px;
  background-color: #fff;
}

.dropdown-content h4 {
  margin-top: 0;
}
.user-card {
  position: relative;
}

.dropdown-content {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

.dropdown-content > * {
  margin-bottom: 16px;
}


/* Responsive styles */
@media (max-width: 600px) {
  .search-container {
    margin-bottom: 15px;
    margin-top: 16px; 
  }


  .search {
    font-size: 14px;
  }

  .suggestion-item {
    font-size: 14px;
  }

  .dropdown-button {
    font-size: 14px;
  }

  .dropdown-content {
    font-size: 14px;
  }
}
